- content_for :hero do
  .hero-unit
    %h1 Good morning!

- if @pending_alerts.present?
  %h2 Upcoming opportunities to anger your mother
  = render 'table', alerts: @pending_alerts

  %a#new_alert_trigger.btn.btn-primary.btn-large{ href: "#" }
    Create a new opportunity to anger your mother
  #new_alert_container{ style: "display: none" }
    = render 'new', alert: @alert

  - content_for :page_js do
    :javascript
      jQuery(function() {
        $('#new_alert_trigger').click(function(event) {
          $(this).fadeOut('fast', function() {
            $('#new_alert_container').slideDown();
          });
        });
      });

- else 
  = render 'new', alert: @alert

- if @failed_alerts.present?
  %h2 Times when you angered your mother
  = render 'table', alerts: @failed_alerts
  
- if @successful_alerts.present?
  %h2 Previous times where you didn't anger your mother
  = render 'table', alerts: @successful_alerts

