!!!
%html
  %head
    %title AngryMum
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    / %h5 Session
    / %pre= session.inspect
    / %h5 Cookies
    / %pre= cookies.inspect
    .container
      %header
        - if logged_in?
          Logged in as
          = current_user.name
          
          = link_to "Logout", logout_users_path
    
      = yield
