!!!
%html
  %head
    %title AngryMum
    %link{ href: "/css/Aristo/Aristo.css", media: "all", rel: "stylesheet", type: "text/css" }/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "/js/jquery-ui-1.8.18.custom.min"
    = javascript_include_tag "/js/datetimepicker"
    = csrf_meta_tags

  %body
    / %h5 Session
    / %pre= session.inspect
    / %h5 Cookies
    / %pre= cookies.inspect
    %header
      .container
        .header
          .logo
            AngryMum
          .login
            - if logged_in?
              Logged in as
              %b= current_user.name
    
              = link_to "Logout", logout_users_path
            - else
              Signup to set an alert and NOT anger your mother now!

    .container
      = yield :hero
      .row
        .span10.offset1
          = yield

    %footer
      .container
        .footer
          Not brought to you by any angry mothers. Not directly, at least.

    = yield :page_js
